/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}
nav {
  display: flex;
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;

  height: 80px;
  padding: 10px;
  justify-content: space-between;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  flex-wrap: wrap;
  background-color: red;
}

li {
  font-family: 'Times New Roman', Times, serif, 'cursive';
  padding: 5px;
  border: 3px solid black;
}

.delButton {
  border-radius: 50%;
  color: red;
}

.delButton :hover {
  background-color: blue;
}

.name {
  color: green;
}

.name :hover {
  background-color: white;
}
